@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


.react-flow__edge.animated path {
  stroke: #f87171; /* Tailwind Red-400 */
  stroke-width: 3;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -12;
  }
}





